<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
    <title>测试用</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Future Shopping</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">主页</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="starter-template">
            <div class="panel panel-heading">
                <div class="col-md-4 col-sm-4 btn-group" role="group">
                    <button class="btn btn-success" id="checkall">查看全部</button>
                    <button class="btn btn-danger" id="clearall">清除全部</button>
                </div>
                <div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 input-group">
                    <input class="form-control" type="text" id="keyword" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="check">查询</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
                    </span>
                </div>
            </div>
            <div class="panel panel-default" id="list">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Instrument</th>
                            <th>To Do</th>
                        </tr>
                    </thead>
                    <tbody id="tablecontent">
                        {% for item in userlist %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.instrument }}</td>
                            <td>
                                <button class="btn btn-danger delete-user" id="delete{{ item.id }}">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <div class="row">
            <div id="map" style="width:100%;height:320px"></div>
        </div>
    </div>
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加用户</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %} {% load widget_tweaks %}
                        <div class="form-group">
                            <label for="FirstName" class="col-sm-4 control-label">姓氏</label>
                            <div class="col-sm-6">
                                {{ form.LastName|add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FirstName" class="col-sm-4 control-label">名字</label>
                            <div class="col-sm-6">
                                {{ form.FirstName|add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FirstName" class="col-sm-4 control-label">乐器</label>
                            <div class="col-sm-6">
                                {{ form.Instrument|add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">保存用户</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-1.12.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#checkall').click(function() {
            $('#tablecontent').empty();
            $.get("/checkall/", function(ret) {
                var userobj = eval('(' + ret + ')');
                for (obj in userobj) {
                    $('#tablecontent').append('<tr> <td>' + userobj[obj].pk + '</td> <td>' + userobj[obj].fields.last_name + '</td> <td>' + userobj[obj].fields.first_name + '</td> <td>' + userobj[obj].fields.instrument + '</td> <td><button class="btn btn-danger delete-user" id="delete' + userobj[obj].pk + '">删除</button></td> </tr>');
                }
            })
        })
        $('#clearall').click(function() {
            $('#tablecontent').empty();
        })
        $('.delete-user').click(function() {
            var btn = $(this);
            var id = btn.attr('id');
            $.get("/delete_musician/", {
                'user_id': id
            }, function() {
                btn.parent().parent().remove();
            })
        })
        $('#check').click(function() {
            var keyword = $('#keyword').val();
            $('#tablecontent').empty();
            $.get("/check/", {
                'keyword': keyword
            }, function(ret) {
                var userobj = eval('(' + ret + ')');
                for (obj in userobj) {
                    $('#tablecontent').append('<tr> <td>' + userobj[obj].pk + '</td> <td>' + userobj[obj].fields.last_name + '</td> <td>' + userobj[obj].fields.first_name + '</td> <td>' + userobj[obj].fields.instrument + '</td> <td><button class="btn btn-danger delete-user" id="delete' + userobj[obj].pk + '">删除</button></td> </tr>');
                }
            })
        })
    })
    </script>
    <script type="text/javascript">
    function initialize() {
        var mp = new BMap.Map('map');
        mp.centerAndZoom(new BMap.Point(121.491, 31.233), 11);
    }

    function loadScript() {
        var script = document.createElement("script");
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=XRC0hIYvB73wvsTGOH4ETyCx&callback=initialize"; //此 为 v2.0版本的引用方式
        // script.src = "http://api.map.baidu.com/api?v=1.4"; // 此为 v2.0版本及以前版本的引用方式
        document.body.appendChild(script);
    }
    window.onload = loadScript;
    </script>
</body>

</html>
